<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Images Manager</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="header">
        <h1>Images Manager</h1>
        <nav>
            <a href="/">Home</a> | 
            <a href="/images">Images Manager</a>
        </nav>
    </div>
    <div class="container gallery">
        {% if photos %}
            {% for photo in photos %}
                <div class="photo">
                    <img src="{{ url_for('static', filename=photo[0]) }}" alt="User Photo">
                </div>
            {% endfor %}
        {% else %}
            <p>No photos available.</p>
        {% endif %}
    </div>
</body>
</html>